.App {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 700px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

.input-container {
    width: 500px;
}

.input {
    width: 100%;
}

.todo-container {
    height: 600px;
    overflow-y: scroll;
}

.todo-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 5px 5px 0 0;
}

.checkbox-container {
    position: relative;
    width: 100%;
    align-items: start;
    text-align: start;
}

input[type="checkbox"] {
    position: absolute;
    right: 5px;
}

input[type="checkbox"]:checked + label {
    color: brown;
    text-decoration: line-through;
}

